name: Devcontainer CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache stonefish build
        uses: actions/cache@v3
        with:
          path: |
            ros2_ws/build/stonefish_vendor
            ros2_ws/install/stonefish_vendor 
          key: stonefish_vendor-${{ hashFiles('third_party/stonefish/**') }}
          restore-keys: |
            stonefish_vendor-

      - name: Run in devcontainer
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            source /opt/ros/jazzy/setup.bash

            # If cache hit, skip stonefish_vendor rebuild
            if [ ! -f install/stonefish_vendor/lib/libstonefish.so ]; then
               colcon build --packages-up-to stonefish_vendor
            fi

            source install/setup.bash

            colcon build