name: Devcontainer CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Get Submodule Hash
        id: submodule_hash
        run: echo "hash=$(git submodule status | sha1sum | awk '{print $1}')" >> $GITHUB_OUTPUT

      - name: Cache stonefish build
        uses: actions/cache@v3
        with:
          path: |
            ros2_ws/build/stonefish_vendor
            ros2_ws/install/stonefish_vendor
          key: stonefish_vendor-${{ steps.submodule_hash.outputs.hash }}

      - name: Run in devcontainer
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            source /opt/ros/jazzy/setup.bash

            colcon build --symlink-install

            source install/setup.bash